@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

section {
    @apply scroll-mt-24
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    @apply w-4 h-4 bg-primary opacity-100 border-0
}
.swiper-pagination-clickable .swiper-pagination-bullet-active {
    @apply bg-[transparent] border border-primary
}

#portfolio .swiper-slide {
    height: auto !important;
}

ul li.work-item .work-details {
    @apply pb-12
}

ul li.work-item:last-child .work-details {
    @apply pb-0
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-out {
    opacity: 0;
    transform: translateY(20px);
}

@media screen and (max-width: 640px) {
    #resume div:first-of-type > ul li.work-item:last-child .work-details {
        @apply pb-12
    }
}